# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/*
data/interim/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# Environment variables
.env

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db